body, .contact-container {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0c0c0c;
  color: #eeeddc;
}

.contact-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.contact-card {
  background-color: #020201;
  border-radius: 10px;
  max-width: 800px;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(204, 207, 2, 0.3);
  color: #eeeddc;
}

.contact-card h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 25px;
  color: #be9f03;
}

.intro {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  color: #fcfbf9;
}

.contact-details {
  margin-top: 30px;
  font-size: 1rem;
  color: #cccf02;
}

.contact-details .detail {
  margin-bottom: 15px;
}

.contact-details a {
  color: #fafaf7;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.social-media {
  margin-top: 40px;
}

.social-media p {
  font-size: 1rem;
  font-weight: bold;
  color: #bbb804;
}

.social-media ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-media li a {
  color: #cccf02;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-icon {
  font-size: 1.2rem;
}

.social-media li a:hover {
  color: #fff;
}

.footer-text {
  margin-top: 40px;
  font-size: 0.95rem;
  text-align: center;
  color: #f1e784;
}
